# Compiled class files SSSSS
*.class

# Log files
*.log

# IntelliJ project files nhnhnhnh
.idea/

# Eclipse project files ja dugaja~

.settings/

# Maven specific
target/

# Gradle specific
build/

# Package files
*.jar
*.war
*.ear

# IDE specific directories
bin/

# SVN related files
.svn/

# SVN specific files
*.svn-base